<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/awareness.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
</head>

<body>
    <nav>
        <a href="/"><div class="navLeft">ANANTA</div></a>
        <div class="navRight">
          <a href="/volunteer/login">
            <i class="fa-solid fa-right-to-bracket"></i>
          </a>
        </div>
      </nav>
    <div class="awareness">
        <div class="heading" style="padding-top: 70px;"><span>Awareness</span> section</div>
        <div class="subHeading">"we either need more or reduce this stats"</div>
        <div class="awareGraph">
            <div class="awareGraph1">
                <img src="{% static 'img/graph1.png' %}" alt="">
                <p>Total Transplant</p>
            </div>
            <div class="awareGraph2">
                <img src="{% static 'img/graph2.png' %}" alt="">
                <p>Total Living Trnasplant</p>
            </div>
        </div>

        <div class="awareHero">
            <div class="awareHeroLeft">
                <div class="heading">Be <span>Aware</span> of <span>Myths</span></div>
                <div class="subHeading">"myths are stories made by people who are high on mushrooms" - unknown</div>
            </div>
        </div>

        <div class="awareWrapper">

            <div class="awareEach">
                <p class="myth">Myth: If I am a registered donor, doctors won’t try as hard to save my life</p>
                <div class="fact">
                    <p>Fact: The doctor's first priority is always to save your life.</p>
                    <ul>
                        <li>Medical and nursing staff work incredibly hard to save lives.</li>
                        <li>Organ and tissue donation will only be considered if you have died, or when death is
                            expected. This is when the Australian Organ Donor Register is checked and your family is
                            asked about your wishes and to consent to donation before it proceeds</li>
                        <li>One organ and tissue donor can save and transform the lives of many.</li>
                    </ul>
                </div>
            </div>

            <div class="awareEach">
                <p class="myth">Myth: It’s better to just let my family decide at the time</p>
                <div class="fact">
                    <p>Fact: If you want to become an organ or tissue donor, you need to tell your family.</p>
                    <ul>
                        <li>It makes it harder for families to decide if they don’t know what their family member
                            wanted.</li>
                        <li>When the family is uncertain about whether their family member wanted to be a donor, only 4
                            out of 10 families agree to donation.</li>
                    </ul>
                </div>
            </div>

            <div class="awareEach">
                <p class="myth">Myth: It’s my choice – I don’t need to discuss it with my family</p>
                <div class="fact">
                    <p>Fact: Your family will be asked if you wanted to be a donor and to provide consent to donation.

                    </p>
                    <ul>
                        <li>Even if you have registered, your family will be asked whether you still wanted to be a
                            donor and to provide consent before donation proceeds.
                            .</li>
                        <li>Prepare your family so that they are comfortable being part of the process.</li>
                    </ul>
                </div>
            </div>

            <div class="awareEach">
                <p class="myth">Myth: Organ and tissue donation will disfigure my body</p>
                <div class="fact">
                    <p>Fact: Organ and tissue donation surgery is conducted with the same care as any other operation.
                    </p>
                    <ul>
                        <li>Organ and tissue donation surgery is performed like any other operation - in the hospital by
                            a surgeon and their team.</li>
                        <li>Organ and tissue donation will only be considered if you have died, or when death is
                            expected. This is when the Australian Organ Donor Register is checked and your family is
                            asked about your wishes and to consent to donation before it proceeds</li>
                        <li>Your body will be treated with dignity and respect and your family can still have an open
                            casket viewing if desired.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="awareEach">
                <p class="myth">Myth: I’m too old to be an organ and tissue donor</p>
                <div class="fact">
                    <p>Fact: Age is not a barrier – people over 80 have become organ and tissue donors.</p>
                    <ul>
                        <li>Don’t assume you are too old or not healthy enough.</li>
                        <li>If you die in a way that gives you the opportunity to be considered for donation, leave it
                            to the medical team is assess if you are able to become a donor, and if so they will talk
                            with your family.</li>
                    </ul>
                </div>
            </div>

            <div class="awareEach">
                <p class="myth">Myth: I’m not healthy enough to donate because of my lifestyle choices
                </p>
                <div class="fact">
                    <p>Fact: If you smoke, drink or have an unhealthy diet you can still register to be a donor. You
                        don’t have to be in perfect health.</p>
                    <ul>
                        <li>There’s every chance that some of your organs and tissues may be suitable for donation.
                        </li>
                        <li>Only a few medical conditions may prevent you from being a donor.</li>

                        <li>You can trust the medical team at the time of your death to assess if you can be a donor.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="awareEach">
                <p class="myth">Myth: Organ and tissue donation is against my religion</p>
                <div class="fact">
                    <p>Fact: All major religions support organ and tissue donation as an act of compassion and
                        generosity.</p>
                    <ul>
                        <li>All major religions, including Christianity, Islam, Buddhism, Hinduism and Judaism, support
                            organ and tissue donation.</li>
                        <li>Donation specialists can help your family to make arrangements to support your religious and
                            cultural requirements.
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="awareFixed">
            <div class="sym">
                <div class="symbol1"></div>Requirement
            </div>
            <div class="sym">
                <div class="symbol2"></div>Available
            </div>
            <div class="subHeading"> <span
                    style="color: red; font-family: 'Poppins', sans-serif;">Liver</span>Transplant</div>
            <img src="{% static 'img/stat1.png' %}" alt="">
            <div class="subHeading"> <span
                    style="color: red; font-family: 'Poppins', sans-serif;">Heart</span>Transplant</div>
            <img src="{% static 'img/stat2.png' %}" alt="">
            <div class="subHeading"> <span
                    style="color: red; font-family: 'Poppins', sans-serif;">Kidney</span>Transplant</div>
            <img src="{% static 'img/stat3.png' %}" alt="">
        </div>
    </div>

</body>

</html>