<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ananta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>

  </head>
  <body>
    <nav>
      <div class="navLeft">ANANTA</div>
      <div class="navRight">
        <a href="/volunteer/login">
          <i class="fa-solid fa-right-to-bracket"></i>
        </a>
      </div>
    </nav>

    <div class="hero">
      <div class="heroWrapper">
        <div class="heroHeading">
          a <span>selfless</span> act of <span class="red">love</span> with
          <span>selfcare</span>
        </div>
        <div class="heroPara">
          Organ donation is when a person agrees to donate one of their organs
          to another person. The organ is then removed and transplanted into the
          candidate. Some organs, such as a kidney, can be donated while the
          donor.
        </div>
        <div class="heroBtn">
          <a href="education"><div class="secondaryBtn">Know More</div></a>
          <a href="volunteer/personal"><div class="primaryBtn">Donate</div></a>
        </div>
      </div>
      <div class="heroImg">
        <div class="eachHeroImg">
          <img src="{% static 'img/od1.png' %}" alt="" />
        </div>
        <div class="eachHeroImg">
          <img src="{% static 'img/od3.png' %}" alt="" />
        </div>
        <div class="eachHeroImg">
          <img src="{% static 'img/od2.png' %}" alt="" />
        </div>
      </div>
    </div>

    <div class="why">
      <div class="whyLeft">
        <div class="heading">
          why one should <span class="red">donate</span>
        </div>
        <div class="subHeading">be someone's hope, donate life</div>
        <div class="whyPara">
          There is a wide gap between patients who need transplants and the
          organs that are available in India. An estimated around 1.8 lakh
          persons suffer from renal failure every year, however the number of
          renal transplants done is around 6000 only. An estimated 2 lac
          patients die of liver failure or liver cancer annually in India, about
          10-15% of which can be saved with a timely liver transplant.
          <br /><br />
          Hence about 25-30 thousand liver transplants are needed annually in
          India but only about one thousand five hundred are being performed.
          Similarly about 50000 persons suffer from Heart failures annually but
          only about 10 to 15 heart transplants are performed every year in
          India. In case of Cornea, about 25000 transplants are done every year
          against a requirement of 1 lakh.
        </div>
        <a href="education"><div class="secondaryBtn">Know More</div></a>
      </div>
      <img src="{% static 'img/why.png' %}" alt="" />
    </div>

    <div class="whom">
      <div class="whomWrapper">
        <div class="heading">
          what are <span class="red">consequences</span> and
          <span class="red">measures</span>
        </div>
        <div class="subHeading">
          everyone can't donate but all can participate
        </div>
        <div class="whomPara">
          There are also certain medical conditions that may prevent someone
          from donating organs, such as active cancer or certain infectious
          diseases. However, even if someone has a medical condition that
          prevents them from donating certain organs, they may still be able to
          donate other organs or tissues.
        </div>
      </div>
      <div class="whomImage">
        <img src="{% static 'img/types.png' %}" alt="" />
      </div>
      <a href="education"><div class="secondaryBtn">Know More</div></a>
      <a href="awareness" style="margin-top: 10px;"><div class="primaryBtn">Awareness</div></a>
    </div>

    <div class="what">
      <div class="heading">what we <span class="red">provide</span></div>
      <div class="subHeading">a token of love : if you donate, you deserve</div>

      <div class="whatWrapper">
        <div class="whatEach">
          <div class="eachWrapper">
            <div class="whatHeading">
              WE WILL PROVIDE DISCOUNT AND OFFERS IN MEDICAL FACILITIES
            </div>
            <div class="whatPara">
              Government hospitals are known for their skilled and experienced
              healthcare professionals, and we are proud to partner with them to
              offer our volunteers discounted rates for various medical
              procedures. This means that our volunteers can access high-quality
              medical care at a more affordable cost. In addition to discounted
              rates, government hospitals also offer separate time slots for
              medical checkups for our volunteers. This ensures that our
              volunteers won't have to wait in long lines or compete with other
              patients for medical attention.
            </div>
            <a href="education"><div class="secondaryBtn">Know More</div></a>
          </div>
          <div class="whatEachImg">
            <img src="{% static 'img/wh1.png' %}" alt="" />
          </div>
        </div>

        <div class="whatEach">
          <div class="eachWrapper">
            <div class="whatHeading">
              WE TAKE CARE OF YOUR’S BEFORE AND AFTER DONATION
            </div>
            <div class="whatPara">
              At our organization, we understand that the decision to donate an
              organ is a significant one, and we are committed to providing our
              donors with all the information and support they need throughout
              the donation process. Before the donation process, we will provide
              our donors with comprehensive information about the donation
              process, including the risks and benefits of donation. Our team of
              medical experts will guide donors through every step of the
              process, from the initial decision to donate to the post-donation
              recovery process. We will answer any questions donors may have and
              ensure that they feel fully informed and confident in their
              decision to donate
            </div>
            <a href="education"><div class="secondaryBtn">Know More</div></a>
          </div>
          <div class="whatEachImg">
            <img src="{% static 'img/wh2.png' %}" alt="" />
          </div>
        </div>

        <div class="whatEach">
          <div class="eachWrapper">
            <div class="whatHeading">
              24/7 DOCTOR'S SUPPORT AND CONSULTANCY, WITH VIDEO CALLING
            </div>
            <div class="whatPara">
              We understand that organ donation can be a complex process, and we
              are committed to providing you with comprehensive support
              throughout the entire process. Our organization provides 24/7
              medical facilities, which means that you can contact us at any
              time with your queries and concerns about organ donation. Our team
              of medical experts and support staff are available to answer your
              questions and provide you with the information you need to make an
              informed decision about organ donation.
            </div>
            <a href="education"><div class="secondaryBtn">Know More</div></a>
          </div>
          <div class="whatEachImg">
            <img src="{% static 'img/wh3.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footerWrapper">
        <div class="footerLeft">
          <div class="footerHead">About</div>
          <ul>
            <li><a href="#">About Centura Health</a></li>
            <li><a href="#">Our Ecosystem</a></li>
            <li><a href="#">Community Impact</a></li>
            <li><a href="#">Stories & Newsroom</a></li>
          </ul>
        </div>
        <div class="footerMid">
          <div class="footerHead">Patient Tools</div>
          <ul>
            <li><a href="#">Patient Portal</a></li>
            <li><a href="#">keep your health</a></li>
            <li><a href="#">medical records</a></li>
          </ul>
        </div>
        <div class="footerRight">
          <div class="footerHead">About Developers</div>
          <ul>
            <li>prem@gmail.com</li>
            <li>deepak@gmail.com</li>
            <li>nitesh@gmail.com</li>
            <li>sumit@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="footerCopy">All rights reserverd copyright &copy; Ananta</div>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
