<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
</head>

<body>

    <div class="loginMain">
        <div class="loginForm">
            <div class="loginImg">
                <img src="{% static 'img/loginImg.png' %}" alt="">
            </div>
            <form action="login" method="post">
                {%csrf_token%}
                <div class="heading">Login <span>Hospital</span></div>
                <label for="id">Hospital ID:</label>
                <input type="text" name="id">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <p>{{msg}}</p>
                <center><input type="submit" value="Login"></center>
            </form>
        </div>
    </div>
</body>

</html>