@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
i{
    font-size: 32px;
    color: #ed4848;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    padding: 0 1rem;
    height: 65px;
    width: 100%;
    background: #fff;
}
.navLeft{
    font-family: 'Poppins', sans-serif;
}
.navRight {
    background: #ddd;
    color: #222;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
}
.hhero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../img/hospital.jpg");
  background-position: center;
  background-size: cover;
}
.heroBanner {
  background: rgba(0, 0, 0, 0.31);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  color: white;
  width: 60%;
  padding: 1rem;
  text-align: center;
  margin-bottom: 4rem;
  line-height: 30px;
}
.heroBanner .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.heroBanner .top img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.heroBanner .top span {
  font-size: 2rem;
}
.heroBanner p {
  /* font-size: 20px; */
  color: #eaeaea;
}
.aptBar {
  display: flex;
  gap: 2rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 60px 114px rgba(0, 0, 0, 0.05),
    0px 25.0666px 47.6265px rgba(0, 0, 0, 0.0359427),
    0px 13.4018px 25.4634px rgba(0, 0, 0, 0.0298054),
    0px 7.51293px 14.2746px rgba(0, 0, 0, 0.025),
    0px 3.99006px 7.58112px rgba(0, 0, 0, 0.0201946),
    0px 1.66035px 3.15467px rgba(0, 0, 0, 0.0140573);
  border-radius: 20px;
  padding: 1rem 2rem;
}
.aptBar div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aptBar img {
  width: 40px;
  height: 40px;
}
.aptBar input {
  padding: 0.5rem;
  background: none;
  border: none;
  outline: none;
}
.locateBtn {
  background: rgba(237, 72, 72, 0.7);
  border-radius: 36px;
  padding: 0.8rem 2.8rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.locateBtn:hover {
    color: #fff;
      background: rgb(237, 72, 72);
  box-shadow: 0px 4px 14px 4px rgba(237, 72, 72, 0.22);
}
